* {
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0; 
    list-style: none; 
    box-sizing: border-box; 
    text-decoration: none; 
}
body {
    background-color: #000;
    margin-top: 20px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    font-family: 'Crimson Text', serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Noto Serif', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Signika Negative', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
.header_title {
    font-size: 20px;
    color: #fff;
    transition: 0.5s;
}
.header:hover .header_title {
    transform: translateX(655px) translateY(250px) scale(2.8);
    color: #9e33ae;
    z-index: 1;
    font-weight: 700;
}
.header_list {
    font-size: 15px;
    margin-right: 15px;
    color: #fff;
    font-family: 'Crimson Text', serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Noto Serif', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Signika Negative', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
.header_button {
    display: none;
}
.help {
    
    display: flex;
    color: #fff;
}
.main_box {
    position: relative;
    left: 10%;
    width: 1200px;
    height: 500px;
    margin-top: 50px;
}
.main_box_title {
    width: 550px;
    font-size: 100px;
    position: absolute;
    font-family: 'Crimson Text', serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Noto Serif', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Signika Negative', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    top: 0;
    transition: 0.5s;
}
.main_box_title:hover {
    transform: scale(1.4);
    color: #ddff00;
}
.main_box_text {
    position: absolute;
    top: 50%;
    width: 500px;
    color: #807f7f;
    transition: 0.5s;
}
.main_box_text:hover {
    color: #fff;
    transform: scale(1.5);
    z-index: 1;
}
.main_box_link {
    position: absolute;
    top: 65%;
    width: 200px;
    height: 70px;
    background: #E6533C;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    display: flex;
    transition: 0.5s;
}
.main_box_link:hover {
    background-color: #e6ae47;
}
.main_box_link_a {
    color: #fff;
    font-size: 20px;
    margin-top: 22px;
}
.main_box_img {
    position: absolute;
    bottom: -10%;
}
.main_box2 {
    background-image: url(./photo/Images\ 2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 350px;
    position: relative;
    right: 20%;
    top: 50px;
}
.main_box2_block {
    width: 206px;
    height: 96px;
    background-color: #303030;
    border-radius: 12px;
    position: absolute;
    left: -83px;
    bottom: 150px;
    display: flex;
    justify-content: space-between;
    padding: 25px;
}
.main_box2_block:nth-child(2) {
    background-color: #EF8964;
    width: 180px;
    height: 110px;
    top: -26px;
    left: 260px;
    flex-direction: column;
}
.main_box2_block:nth-child(3) {
    background-color: #7A29DC;
    width: 193px;
    height: 98px;
    left: 300px;
    bottom: 100px;
}
.box2_block_img {
    width: 40px;
    height: 40px;
}
.box2_block_img2 {
    width: 24px;
    height: 24px;
}
.box2_block_text {
    display: flex;
    flex-direction: column;
}
.box2_block_text:nth-child(2) {
    flex-direction: row;
    align-items: end;
}
.block_text_number {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Inter';
    font-style: normal;
}
.block_text_word {
    font-size: 16px;
    color: #EFEDE8A6;
}

/* Adaptive */
@media(max-width: 1199px) {
    .header {
        max-width: 1200px;
        padding: 25px 50px;
    }
    .main_box2 {
        display: none;
    }
    .main_box2_block {
        display: none;
    }
}
@media(max-width: 991px) {

}
@media(max-width: 779px) {
    .header_list {
        display: none;
    }
    .main {
        max-width: 779px;
    }
    .main_box_title {
        font-size: 70px;
    }
    .main_box_text {
        font-size: 15px;
        max-width: 300px;
    }
    .main_box2 {
        display: block;
        flex-direction: column;
        align-items: center;
        background: none;/* 
        overflow: hidden; */
        left: -20%;
        width: 200px;
    }
    .main_box2_block {
        width: 206px;
        height: 96px;
        background-color: #303030;
        border-radius: 12px;
        position: absolute;
        left: 0px;
        top: 0px;
        display: flex;
        justify-content: space-between;
        padding: 25px;
        animation: block 0.5s linear;
    }
    @keyframes block {
        0% {
            transform: translateX(50px);
            opacity: 0;
        }
    }
    .main_box2_block:nth-child(2) {
        background-color: #EF8964;
        width: 180px;
        height: 110px;
        top: 25%;
        left: 0px;
        flex-direction: column;
    }
    .main_box2_block:nth-child(3) {
        background-color: #7A29DC;
        width: 193px;
        height: 98px;
        left: 0px;
        top: 50%;
    }
}
@media(max-width: 575px) {
    body {
        background: linear-gradient(to right top, #5e035e, #a049a0);
    }
    .main_box_title {
        color: #dcf538;
    }
    .main_box_text {
        color: #f0fe96;
    }
    .main_box2 {
        display: none;
    }
}
.main_content {
    display: flex;
    flex-direction: column;
    color: #fff;
    position: relative;
    left: 10%;
    margin: 150px 0 150px 0;
    max-width: 1200px;
}
.main_content_head {
    font-size: 40px;
}
.main_content_text {
    font-size: 16px;
    margin-top: 20px;
}
.main_content_block {
    display: flex;
    flex-direction: row;
}
.content_block_box {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 57px 40px;
    margin-top: 50px;
    width: 300px;
    height: 180px;
    background-color: #4F5261;
    border-radius: 12px;
}
.content_block_box:nth-child(2) {
    left: 330px;
    background: #232532;
}
.content_block_box:nth-child(3) {
    left: 670px;
    background: #323443;
}
.content_block_box:nth-child(4) {
    left: 1000px;
    background: #4F5261;
}
.block_box_head {
    font-size: 16px;
    width: 225px;
}
.block_box_text {
    font-size: 14px;
    margin-top: 10px;
    position: relative;
    color: #efede8b2;
    width: 225px;
}
.block_box_text::after {
    position: absolute;
    content: '';
    top: 35%;
    right: -10%;
    width: 25px;
    height: 20px;
    background: url(./photo/Group\ 4.png);
}
.booo {
    margin-top: 350px;
}
.main_content2 {
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}
.main_content2_block {
    width: 526px;
}
.content2_block_head {
    font-size: 40px;
}
.content2_block_text {
    font-size: 14px;
    margin: 38px 0 24px 0;
    color: #efede8a1;
}
.content2_block_link {
    font-size: 16px;
    position: relative;
}
.content2_block_link::after {
    position: absolute;
    content: '';
    top: 0;
    right: -60%;
    width: 25px;
    height: 20px;
    background: url(./photo/Group\ 4.png);
}
.main_content3 {
    display: flex;
    flex-direction: column;
    margin-top: 180px;
    margin: 0 140px;
}
.main_content3_head {
    color: #fff;
    font-family: 'Inter';
    font-size: 50px;
}
.main_content3_block {
    display: flex;
}
.contetn3_block_box {
    margin: 77px 0 0px 0;
    width: 538px;
    height: 640px;
    padding: 68px;
    background-color: #232532;
    margin-right: 68px;
}
.contetn3_block_box:nth-child(2) {
    background-color: #323443;
}
.block_box_header {
    color: #fff;
    width: 402px;
    font-size: 40px;
}
.block_box_words {
    width: 402px;
    font-size: 18px;
    margin: 34px 0 16px 0;
    color: #efede89c;
}
.block_box_list {
    width: 402px;
    font-size: 18px;
    color: #efede89c;
}
.block_box_link1 {
    position: relative;
    top: 200px;
}
.block_box_link1::after {
    position: absolute;
    content: '';
    top: 0;
    right: -60%;
    width: 25px;
    height: 20px;
    background: url(./photo/Group\ 4.png);
}
.block_box_link {
    position: relative;
    top: 115px;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    background-color: #0070C9;
    color: #fff;
    font-size: 16px;
    padding: 10px;
}
.main_content3_link {
    margin: 36px 0 27px 0;
    padding: 10px 20px;
    display: flex;
    align-items: end;
    width: 150px;
    height: 38px;
    background: #FAFAF9;
    box-shadow: 0px 4px 9px rgba(255, 255, 255, 0.25);
    position: relative;
    margin-left: 1100px;
}
.main_content3_link::after {
    position: absolute;
    top: 32%;
    left: 75%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    content: '';
    background-image: url(./photo/coolicon.png);
}
/* https://www.figma.com/file/fnI6t3adIv4thIDTZpfEbX/Exploration-Workout-%26-Fitness---Landing-Page-(Community)?type=design&node-id=78-6&t=ba6JAyHBkKK6HZzm-0 */